[submodule "Libft"]
	path = Libft
	url = https://github.com/cdvallejo/42-libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/cdvallejo/42-ft_printf
[submodule "Get_next_line"]
	path = Get_next_line
	url = https://github.com/cdvallejo/42-get_next_line
[submodule "Minitalk"]
	path = Minitalk
	url = https://github.com/cdvallejo/42-minitalk
[submodule "Push_Swap"]
	path = Push_Swap
	url = https://github.com/cdvallejo/42-push_swap
[submodule "Fractol"]
	path = Fractol
	url = https://github.com/cdvallejo/42-fractol
[submodule "Exams"]
  path = Exams
	url = https://github.com/cdvallejo/42-exams
  


